@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}


body{
  background-color: #0A2647;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0A2647;
  border-radius: 5px;
}
.SC{
  position: absolute;
  top: 16%;
  background-color: #0A2647;
}
.summ{
  width: 80%;
}
.available{
background-color: #9acd32;
}
.notavailable{
  background-color:red;
}